.app {
  width: 100%;
  border: 1px solid black;
  height: 100%;
}

.button {
  cursor: pointer;
  font-size: large;
  padding: 0.6rem;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: rgb(209, 209, 209);
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.button:hover {
  background-color: rgb(243, 243, 243);
}

.wellInputContainer {
  overflow-y: scroll;
  height: 500px;
  padding: 1rem;
  border: 1px dashed grey;
  border-radius: 4px;
  background-color: rgb(219, 219, 219);
  width: 100%;
  font-size: large;
  text-align: center;
}

.sel {
  cursor: pointer;
}

.sel:hover {
  font-style: italic;
}

.numberInput {
  width: 55px;
  padding: 2px;
  text-align: center;
  font-size: x-large;
  border: none;
  border-radius: 4px;
}
